// FONT SIZE
$heading-primary-fs: 4rem;
$heading-secondary-fs: 1.8rem;
$heading-tertiary-fs: 1.6rem;
$large-fs: 1.8rem;
$medium-fs: 1.4rem;
$small-fs: 1.2rem;
$default-fs: 1.6rem;

// COLORS
$primary-cl: rgb(252, 237, 196);
$red-cl: rgb(218, 52, 52);
$green-cl: rgb(164, 199, 93);
$green-cl--2: rgb(95, 141, 4);
$black-cl: rgb(10, 10, 10);
$dark-cl--1: rgb(185, 185, 185);
$dark-cl--2: rgb(151, 151, 151);
$text-cl: rgb(73, 73, 73);
$white-cl: rgb(255, 255, 255);

// BOX SHADOW
$box-shadow: 0.2rem 0.3rem 0.8rem rgba(0, 0, 0, 0.5);
$box-shadow--light: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);

// NAV HEIGHT
$nav-height: 8vh;

// BASE
$mt-extra-large: 8rem;
